head
  meta(charset='utf-8')
  title Title2
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css')

  body
    .modal-dialog
        .modal-content
          // Modal Header
          .modal-header
            button.close(type="button", data-dismiss="modal")
              span(aria-hidden="true") ×
              span.sr-only Close
            h4#myModalLabel.modal-title
              | Ingrese las apuestas de cada jugador
          // Modal Body
          .modal-body
            form(role='form' method='POST' action='/game')
              each gamer, index in data.gamers
                div.form-group
                  label(for='') #{gamer.name}:             
                  input.form-control(type='text', placeholder='bet' name='bets')
                  input(type='hidden', value=data.gamers[index]._id, name='gamers')
              input(type='hidden', value=data._id, name='game')
              button.btn.btn-primary(type="submit", name="asdf") Submit